@tailwind base;
@tailwind components;
@tailwind utilities;
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.centerTextBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.buttonDes{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.linkDes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bigText{
    text-align: justify;
    text-justify: inter-word;
    height: 100vh;
    vertical-align: text-top;
}
